consensus/beacondata
consensus/genesis.ssz
consensus/validatordata
execution/geth
execution/geth.ipc

server/consensus/beacondata
server/consensus/genesis.ssz
server/consensus/validatordata
server/execution/geth
server/execution/geth.ipc

client/consensus/beacondata
client/consensus/genesis.ssz
client/consensus/validatordata
client/execution/geth
client/execution/geth.ipc
.idea/

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


dist

logs